.form-container {
  // border: solid 1px #ccc;
  min-height: 60px;
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
}

.inner-section-block {
  padding: 20px 10px;
  color: rgba(0, 0, 0, 0.87);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  background: white;
  font-size: 14px;
}

.input-container {
  width: 100%;
}

.pointer-none {
  pointer-events: none;
}

// Multi select dropdown
.access-points-ddl .header {
  width: 100%;
  border: 1px solid #ccc;
  height: 40px;
  border-radius: 3px;
  padding: 3px;
  display: flex;
  align-items: center;
  padding-left: 10px;
  position: relative;
}
 
.access-points-ddl .header div {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width: 90%;
}
 
.access-points-ddl .header:before {
  font-size: 16px;
  position: absolute;
  right: 10px;
  font-weight: bold;
  color: #333;
}