<div class="modal-header justify-content-between">
  <h3 class="modal-title" id="exampleModalLabel">Form Preview</h3>
  <button type="button" class="btn" data-bs-dismiss="modal" aria-label="Close" (click)="closeModalPopup()">
      <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div *ngFor="let section of formData; let i = index" class="mb-2 form-container">
    <div class="w-100">
      <h3>{{ section.sectionName }}</h3>
      <hr>
    </div>
      <div class="inner-section-block  example-box1" [style.width]="item.listingWidth" *ngFor="let item of section.done || []">
        <div class="input-container">
            @if(item.tag === 'text' && item.type === 'number' && item.hasRange) {
              <label class="mb-2 form-label fw-bold">{{ item.label }}</label>
              <div class="d-flex gap-2">
                <input [type]="item.type" [id]="item.id" placeholder="Min" class="form-control pointer-none" />
                <input [type]="item.type" [id]="item.id" placeholder="Max" class="form-control pointer-none" />
              </div>
            } @else if(item.type === 'time' && item.hasRange) {
              <label class="mb-2 form-label fw-bold">{{ item.label }}</label>
              <div class="d-flex gap-2">
                <input [type]="item.type" [id]="item.id" placeholder="Min" class="form-control w-48 pointer-none" />
                <input [type]="item.type" [id]="item.id" placeholder="Max" class="form-control w-48 pointer-none" />
              </div>
            } @else if(item.tag === 'text' || item.tag === 'input') {
              <label class="mb-2 form-label fw-bold" [for]="item.itemId">{{ item.label }}</label>
              <input [type]="item.type" [id]="item.itemId" [placeholder]="item.placeholder" class="form-control pointer-none" />
            } @else if(item.tag === 'radio' || item.tag === 'checkbox') {
              <input class="form-check-input me-2 pointer-none" [type]="item.type" [id]="item.itemId" [name]="item.name"/>
              <label class="mb-2 form-label fw-bold" [for]="item.itemId">{{ item.label }}</label>
            } @else if(item.tag === 'textarea') {
              <label class="mb-2 form-label fw-bold" [for]="item.itemId">{{ item.label }}</label>
              <textarea class="form-control pointer-none" [placeholder]="item.placeholder" [id]="item.itemId"></textarea>
            } @else if(item.tag === 'select') {
              <label class="mb-2 form-label fw-bold" [for]="item.itemId">{{ item.label }}</label>
              @if(item?.isMultiSelect) {
                <div class="access-points-ddl position-relative custom-dropdown">
                <div class="header form-control form-select" tabindex="0" >
                    <div>
                        <span>
                            Option 1, Option 2, Option 3
                        </span>
                    </div>
                </div>
                </div>
              } @else {
                <select class="form-select pointer-none" [id]="item.itemId">
                  <option value="1">Demo</option>
                </select>
              }
            }
        </div>  
      </div>
  </div>
</div>
<div class="modal-footer d-flex justify-content-end">
  <button class="btn btn-secondory" (click)="closeModalPopup()">Close</button>
</div>