
<div class="p-2">
  <div *ngIf="listingForm">
      <form [formGroup]="listingForm">
        <!-- Id -->
        <div class="form-group my-2">
          <label for="inputId">Id</label>
          <input type="text" id="inputId" class="form-control" formControlName="inputId" />
        </div>
        <!-- Name -->
        <div class="form-group my-2">
          <label for="name">Name</label>
          <input type="text" id="name" class="form-control" [class]="properties?.type === 'radio' ? 'disableSection' : ''" formControlName="name" [readonly]="properties?.type === 'radio'"/>
        </div>
        <!-- Placeholder -->
        <div class="form-group my-2">
          <label for="placeholder">Placeholder</label>
          <input type="text" id="placeholder" class="form-control" formControlName="placeholder" />
        </div>
        <!-- Label -->
        <div class="form-group my-2">
          <label for="label">Label</label>
          <input type="text" id="label" class="form-control" formControlName="label" (input)="generateControlName($event)"/>
        </div>
        <!-- Control Name -->
        <div class="form-group my-2">
          <label for="controlName">Control Name</label>
          <input type="text" id="controlName" class="form-control disableSection" formControlName="controlName" readonly />
        </div>
        <!-- Is Active -->
        <div class="form-check my-2">
          <input type="checkbox" id="isActive" class="form-check-input" formControlName="isActive" />
          <label for="isActive" class="form-check-label">Is Active</label>
        </div>
        <!-- Listing Width -->
        <div class="form-row">
          <div class="form-group col-md-6 my-2">
            <label for="listingWidth">Listing Width</label>
            <select class="form-select" id="listingWidth" formControlName="listingWidth">
              <option value="100%">100 %</option>
              <option value="50%">50 %</option>
            </select>
          </div>
        </div>
        
        <!-- Checkbox/Radio Group -->
        <div class="my-3" *ngIf="properties?.tag === 'radio' || properties?.tag === 'checkbox'">
          <h5>Options</h5>
          <div formArrayName="options">
            <div *ngFor="let option of getOptions.controls; let i = index" [formGroupName]="i" class="mb-3">
              <h6 class="mb-2">Option {{ i + 1 }}</h6>
              <input formControlName="label" class="form-control" placeholder="Label" />
              <input formControlName="value" class="form-control mt-2" placeholder="Value" />
              <button type="button" class="btn btn-danger mt-2" (click)="removeOption(i)">Remove</button>
            </div>
          </div>
        </div>

        <div formGroupName="formValidations">
          <h5>Validations</h5>
          <!-- Is Required -->
          <div class="form-check col-md-6 my-2">
            <input type="checkbox" class="form-check-input" id="fieldRequired" formControlName="fieldRequired">
            <label for="fieldRequired">Required</label>
          </div>
          <!-- Minimum -->
          <div class="form-group my-2">
            <label for="minimum">Minimum</label>
            <input type="text" id="minimum" class="form-control" formControlName="minimum" />
          </div>
          <!-- Maximum -->
          <div class="form-group my-2">
            <label for="maximum">Maximum</label>
            <input type="text" id="maximum" class="form-control" formControlName="maximum" />
          </div>
          <!-- Regex -->
          <div class="form-group my-2">
            <label for="regex">Regex</label>
            <input type="text" id="regex" class="form-control" formControlName="regex" />
          </div>
        </div>
      </form>
  </div>
</div>