<div class="main-header row">
  <h4 class="col-md-6">Header</h4>
  <div class="d-flex justify-content-end col-md-6">
    <button class="btn btn-secondary me-2" type="button" (click)="openPreviewModal()">Preview</button>
    <button class="btn btn-primary" type="button" (click)="addSection(content)" >+ Add Section</button>
  </div>
</div>

<div class="row no-gutter">
  <div class="col-3">
    <div
      cdkDropList
      [cdkDropListData]="inputList"
      [cdkDropListConnectedTo]="getConnectedDropListsIds()"
      class="input-fields-section"
      (cdkDropListDropped)="drop($event)">
      <div class="input-field-lable" *ngFor="let item of inputList" cdkDrag>
        <b>{{ item.label }}</b>
      </div>
    </div>
  </div>
  
  <div class="col form-builder-area">
    <div *ngFor="let section of sectionList; let i = index" class="mb-2">
      <div
        cdkDropList
        cdkDropListOrientation="mixed"
        [cdkDropListData]="section.inputFields || []"
        [cdkDropListConnectedTo]="getConnectedDropLists(i)"
        id="section-{{i}}"
        class="form-edit-section"
        (cdkDropListDropped)="drop($event)">
        <div class="p-2 w-100 position-relative drop-area">
          <h3>{{ section.sectionName }}</h3>
          <hr>
          <span (click)="addSection(content, section)" class="editIcon"><i class="bi bi-pencil"></i></span>
          <span (click)="deleteSection(section)" class="deleteSection"><i class="bi bi-trash text-danger"></i></span>
        </div>
        <div class="inner-section-block position-relative" [style.width]="item.listingWidth" *ngFor="let item of section.inputFields || []"  (click)="onSelectInput(item)" cdkDrag>
          <span (click)="deleteInput(item)" *ngIf="item?.id === selectedInput?.id" class="deleteInput">
            <i class="bi bi-trash text-danger"></i>
          </span>
          <div [class]="item?.id === selectedInput?.id ? 'selected-input input-container' : 'input-container'">
            @if(item.tag === 'text' && item.type === 'number' && item.hasRange) {
              <label class="mb-2 form-label fw-bold">{{ item.label }}</label>
              <div class="d-flex gap-2">
                <input [type]="item.type" [id]="item.id" placeholder="Min" class="form-control pointer-none" />
                <input [type]="item.type" [id]="item.id" placeholder="Max" class="form-control pointer-none" />
              </div>
            } @else if(item.type === 'time' && item.hasRange) {
              <label class="mb-2 form-label fw-bold">{{ item.label }}</label>
              <div class="d-flex gap-2">
                <input [type]="item.type" [id]="item.id" placeholder="Min" class="form-control w-48 pointer-none" />
                <input [type]="item.type" [id]="item.id" placeholder="Max" class="form-control w-48 pointer-none" />
              </div>
            } @else if(item.tag === 'text' || item.tag === 'input') {
              <label class="mb-2 form-label fw-bold">{{ item.label }}</label>
              <input [type]="item.type" [id]="item.id" [placeholder]="item.placeholder" class="form-control pointer-none" />
             } @else if(item.tag === 'radio' || item.tag === 'checkbox') {
              <label class="mb-2 form-label fw-bold pointer-none">{{ item.label }}</label>
              <div *ngFor="let option of item.options" class="form-check">
                <input
                  class="form-check-input pointer-none"
                  [type]="item.type"
                  [name]="item.name"
                  [value]="option.value"
                  [id]="option.id"
                />
                <label class="form-check-label" [for]="option.id">{{ option.label }}</label>
              </div>
              <button class="btn btn-link p-0 text-decoration-none fw-semi-bold font-small" (click)="addRadioOption(item)">+ Add Option</button>
            } @else if(item.tag === 'textarea') {
              <label class="mb-2 form-label fw-bold pointer-none" [for]="item.id">{{ item.label }}</label>
              <textarea class="form-control" [placeholder]="item.placeholder" [id]="item.id"></textarea>
            } @else if(item.tag === 'select') {
              <label class="mb-2 form-label fw-bold" [for]="item.id">{{ item.label }}</label>
              @if(item?.isMultiSelect) {
                <div class="access-points-ddl position-relative custom-dropdown">
                  <div class="header form-control form-select" tabindex="0" >
                      <div>
                          <span>
                              Option 1, Option 2, Option 3
                          </span>
                      </div>
                  </div>
                </div>
                <div class="ms-2 mb-1">
                  <div *ngFor="let option of item.options;let i = index">
                    {{ i+1 }}. {{ option.label }}
                  </div>
                  <div>
                    <button class="btn btn-link p-0 text-decoration-none fw-semi-bold font-small" (click)="addRadioOption(item)" >+ Add Option</button>
                  </div>
                </div>
              } @else {
                <select class="form-select pointer-none mb-1" [id]="item.id">
                  <option value="1">Option 1</option>
                </select>
                <div class="ms-2 mb-1">
                  <div *ngFor="let option of item.options;let i = index">
                    {{ i+1 }}. {{ option.label }}
                  </div>
                  <div>
                    <button class="btn btn-link p-0 text-decoration-none fw-semi-bold font-small" (click)="addRadioOption(item)" >+ Add Option</button>
                  </div>
                </div>
              }
            } @else if(item.tag === 'section') {
              <h3 for="" class="mb-2 form-label fw-bold">{{item.label}}</h3>
              <hr>
            }
          </div>
        </div>
      </div>
    </div>
  </div>
  

  <ng-template #content let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">{{listingForm.value.sectionName != '' ? 'Edit' : 'Add'}} Section</h4>
      <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss()"></button>
    </div>
    <div class="modal-body">
      <form [formGroup]="listingForm" (keydown.enter)="saveSection()">
        <div class="mb-3">
          <label for="dateOfBirth" class="form-label fw-bold">Section Name</label>
          <div class="input-group">
            <input
              formControlName = "sectionName"
              id="dateOfBirth"
              class="form-control"
              placeholder="Please enter section name"
              type="text"
            />
          </div>
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-secondary" (click)="saveSection()">Save</button>
    </div>
  </ng-template>

  <div class="col-3" *ngIf="selectedInput">
    <div class="input-properties-section">
      <app-form-properties [properties]="selectedInput" [listingForm]="listingForm"></app-form-properties>
    </div>
  </div>
</div>
