<!-- <input type="text" appResizable /> -->
<div class="header row">
  <h4 class="col-md-6">Header</h4>
  <div class="d-flex justify-content-end col-md-6">
    <button class="btn btn-primary" type="button" (click)="addSection(content)" >+ Add Section</button>
  </div>
</div>

<div class="row no-gutter">
  <div class="col-3">
    <div
      cdkDropList
      [cdkDropListData]="inputList"
      [cdkDropListConnectedTo]="getConnectedDropListsIds()"
      class="example-list"
      (cdkDropListDropped)="drop($event)">
      <div class="example-box" *ngFor="let item of inputList" cdkDrag>
        <b>{{ item.label }}</b>
      </div>
    </div>
  </div>
  
  <div class="col-6">
    <div *ngFor="let section of sectionList; let i = index" class="mb-2">
      <div
        cdkDropList
        [cdkDropListData]="section.done || []"
        [cdkDropListConnectedTo]="getConnectedDropLists(i)"
        id="section-{{i}}"
        class="example-list1"
        (cdkDropListDropped)="drop($event)">
        <div class="p-2 w-100 position-relative">
          <h3>{{ section.sectionName }}</h3>
          <hr>
          <span (click)="addSection(content, section)" class="editIcon"><i class="bi bi-pencil"></i></span>
        </div>
        <div class="example-box1" [style.width]="item.listingWidth" *ngFor="let item of section.done || []" cdkDrag>
          <div [class]="item?.id === selectedInput?.id ? 'selected-input input-container' : 'input-container'" (click)="onSelectInput(item)">
            @if(item.tag === 'input') {
              <label class="mb-2 form-label fw-bold" [for]="item.itemId">{{ item.label }}</label>
              <input [type]="item.type" [id]="item.itemId" [placeholder]="item.placeholder" class="form-control pointer-none" appResizable />
            } @else if(item.tag === 'radio' || item.tag === 'checkbox') {
              <input class="form-check-input me-2 pointer-none" [type]="item.type" [id]="item.itemId" [name]="item.name"/>
              <label class="mb-2 form-label fw-bold" [for]="item.itemId">{{ item.label }}</label>
            } @else if(item.tag === 'textarea') {
              <label class="mb-2 form-label fw-bold pointer-none" [for]="item.itemId">{{ item.label }}</label>
              <textarea class="form-control" [placeholder]="item.placeholder" [id]="item.itemId"></textarea>
            } @else if(item.tag === 'select') {
              <label class="mb-2 form-label fw-bold pointer-none" [for]="item.itemId">{{ item.label }}</label>
              <select class="form-select" [id]="item.itemId">
                <option value="1">Demo</option>
              </select>
            } @else if(item.tag === 'section') {
              <h3 for="" class="mb-2 form-label fw-bold">{{item.label}}</h3>
              <hr>
            }
          </div>
        </div>
      </div>
  
    </div>
  </div>
  

  <ng-template #content let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Add Section</h4>
      <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss()"></button>
    </div>
    <div class="modal-body">
      <form [formGroup]="listingForm">
        <div class="mb-3">
          <label for="dateOfBirth">Section Name</label>
          <div class="input-group">
            <input
              formControlName = "sectionName"
              id="dateOfBirth"
              class="form-control"
              placeholder="Please enter section name"
              type="text"
            />
          </div>
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-secondary" (click)="saveSection()">Save</button>
    </div>
  </ng-template>

  <div class="col-3">
    <div class="right-container">
      <app-form-properties [properties]="selectedInput" [listingForm]="listingForm"></app-form-properties>
    </div>
  </div>
</div>
