.input-fields-section {
  border: 0px solid #ccc;
  min-height: 60px;
  background: white;
  overflow: hidden;
  display: block;
  min-height: 91.9vh;
  border-right-width: 1px;
}
.form-edit-section {
  border: solid 1px #ccc;
  margin-top: 1rem;
  min-height: 60px;
  background: white;
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
}
.input-properties-section {
  border: solid 0px #ccc;
  background: white;
  overflow: hidden;
  display: block;
  min-height: 91.9vh;
  border-left-width: 1px;
}

.input-container {
  width: 100%;
}

.input-field-lable {
  padding: 20px 10px;
  border-bottom: solid 1px #ccc;
  color: rgba(0, 0, 0, 0.87);
  display: flex;
  flex: 1 1 auto;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  cursor: move;
  background: white;
  font-size: 14px;
}
.inner-section-block {
  padding: 20px 10px;
  color: rgba(0, 0, 0, 0.87);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  cursor: move;
  background: white;
  font-size: 14px;
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
              0 8px 10px 1px rgba(0, 0, 0, 0.14),
              0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.input-fields-section, .form-edit-section {
  &.cdk-drop-list-dragging .input-field-lable:not(.cdk-drag-placeholder) {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }
}

.selected-input {
  padding: 10px;
  border: 1px solid blue;
}
.pointer-none {
  pointer-events: none;
}
.main-header {
  border: solid 1px #ccc;
  padding: 10px;
  background: white;
  // border-radius: 4px;
  // overflow: hidden;
  // display: block;
}

.editIcon {
  position: absolute;
  top: 15px;
  right: 60px;
  display: flex;
  justify-content: end;
  cursor: pointer;
}

.deleteSection {
  position: absolute;
  top: 15px;
  right: 20px;
  display: flex;
  justify-content: end;
  cursor: pointer;
}

.deleteInput {
  position: absolute;
  top: 25px;
  right: 20px;
  display: flex;
  justify-content: end;
  cursor: pointer;
}

// Multi select dropdown
.access-points-ddl .header {
  width: 100%;
  border: 1px solid #ccc;
  height: 40px;
  border-radius: 3px;
  padding: 3px;
  display: flex;
  align-items: center;
  padding-left: 10px;
  position: relative;
}
 
.access-points-ddl .header div {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width: 90%;
}
 
.access-points-ddl .header:before {
  font-size: 16px;
  position: absolute;
  right: 10px;
  font-weight: bold;
  color: #333;
}